<div class="main-content">
  <div class="container-fluid">
    <div class="input-group no-border">
      <input class="form-control" type="text" [formControl]="filter" value="" placeholder="Search by name..." style="width:50%;font-size: large">
      <button mat-raised-button  class="btn btn-white btn-round btn-just-icon">
        <i class="material-icons">search</i>
        <div class="ripple-container"></div>
      </button>
    </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger" style="background: linear-gradient(60deg, #ff8c45, #e53935); }">
                      <h4 class="card-title mt-0"> Object Table ({{this.num_objects}} Total Objects)</h4>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                <th>
                                      Name
                                </th>
                                  <th>
                                      Status
                                  </th>
                                  <th>
                                      URL
                                  </th>
                                  <th>
                                      Last Updated
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let obj of filteredStates$ | async">
                                    <td>
                                      <a href="/#/object/{{obj._id}}">
                                        {{obj.jsonFile.Name}}
                                      </a>
                                    </td>
                                    <td>
                                      <div *ngIf="obj.jsonFile?.Status;else elseBlock">
                                        <div *ngIf="obj.jsonFile.Status?.Health === 'OK';else elseBlock1">
                                          <div mat-raised-button  class="btn btn-round btn-just-icon" style="background-color:#76B041">
                                            <i class="material-icons">power</i>
                                            <div class="ripple-container"></div>
                                          </div>
                                        </div>
                                        <ng-template #elseBlock1>
                                          <div mat-raised-button  class="btn btn-round btn-just-icon" style="background-color:#CC2936">
                                            <i class="material-icons">power</i>
                                            <div class="ripple-container"></div>
                                          </div>
                                        </ng-template>
                                      </div>
                                      <ng-template #elseBlock>
                                        <div mat-raised-button  class="btn btn-round btn-just-icon" style="background-color:#6B818C">
                                          <i class="material-icons">power</i>
                                          <div class="ripple-container"></div>
                                        </div>
                                      </ng-template>
                                  </td>
                                  <td>
                                    {{obj.Id}}
                                  </td>
                                  <td>
                                    {{obj.updated_date}}
                                  </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
