<h4>Sub-Links</h4>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="">
      <th>
            Name
      </th>
      <th>
            URL
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let link of this.links">
        <td [ngClass]="link?.name === 'DEAD LINK'? 'deadlink' : ''">
          {{link?.name}}
        </td>
        <td [ngClass]="link?.name === 'DEAD LINK'? 'deadlink' : ''">
          <a [ngClass]="link?.name === 'DEAD LINK'? 'deadlinklink' : ''" href="/#/object/{{link?.id}}">
            {{link?.link}}
          </a>
        </td>
      </tr>
    </tbody>
</table>
</div>

<style>
  .deadlink{
    background-color: grey;
    color: white;
  }
  .deadlinklink{
    color:white;
  }
</style>
