{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">
{% endblock %}

{% block content %}
<div id="content" style="padding-bottom:5%">
  <div class="container" style="padding:5%;padding-bottom:0">
    <div class="row">
      <div class="col" style="text-align:center">
        <h1 style="text-align:left; font-family: 'aliens_and_cowsregular'">About Us</h1>
      </div>
    </div>
  <h3 style="padding-bottom:2%;padding-top:5%">who we are</h3>
  <p>
    Founded in 2019 by Catherine Cheng and Eric Sun, Quantitative Market Intelligence (QMI)
    is a division of <a href="https://www.texasusit.org/" class="link">The USIT Foundation</a>
    that focuses on leveraging relevant data in making strategic investment decisions.
    QMI was created to open applied data science education to all students who
    wish to learn how to create, analyze, visualize, and utilize financially
    relevant datasets. By giving students the opportunity to advance highly-sought
    after technical skills, create proprietary datasets, and develop quantitative
    trading strategies, QMI empowers its members to become quantitatively intelligent investors and business leaders.
    <br />
    <br />
    QMI consists of Intelligence Analysts, Intelligence Leads, Directors of Technology and Finance, and Executive Director(s). All members of QMI are taught critical data science and financial analysis skills through weekly workshop-style lectures and a project-based curriculum by QMI Directors. Using acquired skills, members work on and complete advanced data collection, processing, and visualization tasks that culminate in the presentation of investible insights and position recommendations. Additionally, members partake in the research of multi-stock algorithmic trading strategies to identify systematic methods of alpha generation. Select Intelligence Analysts and other qualified members of USIT can progress to the Intelligence Lead position where they mentor and teach new QMI members in various project and workshop settings. Similarly, dedicated Intelligence Leads can become Directors in the organization and develop teams centered around their particular area of expertise.
  </p>

  <h3 style="padding-bottom:2%;padding-top:5%">our credentials</h3>
  <p>
    Despite its incredibly recent initiation, QMI has already won the support of a diverse and talented leadership team. Our organization is led by members with experience across industries and disciplines. Below is just a selection of the places our leaders have interned or worked:
    <div id="icons" style="text-align:center">
      <img src="{{ url_for('static', filename='about/collage.png') }}" style="width:60%"/>
    </div>
    <br />
  Besides landing prestigious offers, our members have experienced unparalleled success at various case competitions and stock pitches. On top of winning the 2019 Southeastern Hedge Fund Competition, our members have won and placed at the following national and local competitions:
    <div id="competitions">
      <div class="row" style="text-align:center;padding:5%;padding-left:0;padding-right:0;padding-bottom:0">
        <div class="col-sm">
          <img src="{{ url_for('static', filename='about/sehedge.jpg') }}" style="width:100%;padding-bottom:15px"/>
          <a style="font-size:15px;">Southeastern Hedge Fund Competition</a>
        </div>
        <div id="competitions" class="col">
              <a style="font-family:'Abel', sans-serif;letter-spacing:.1em;color:black; font-weight:800;font-size:20px">
                OTHER COMPETITIONS
              </a>
              <br />
              <br />
              <div class="inner" id="scrolling" style="text-align:left">
                <a style="font-size:15px">1st Place: International Southeastern Hedge Fund Competition (April 2019)</a><hr />
                <a style="font-size:15px">1st Place: Protiviti Case Competition (March 2019)</a><hr />
                <a style="font-size:15px">3rd Place: Berkeley Stock Pitch Competition - NASDAQ: CROX (March 2019)</a><hr />
                <a style="font-size:15px">2nd Place: UT-Austin Women's Case Competition (February 2019)</a><hr />
                <a style="font-size:15px">1st Place: Target McCombs Diversity Council Supply Chain Case Competition (November 2018)</a><hr />
                <a style="font-size:15px">2nd place: JPMC Code for Good Hackathon (October 2018)</a><hr />
                <a style="font-size:15px">1st Place: Inaugural Stanford Stock Pitch Competition - NASDAQ: COHR (May 2018)</a><hr />
                <a style="font-size:15px">1st Place: USC Value Investing Group Stock Pitch Competition (April 2018)</a><hr />
                <a style="font-size:15px">2nd Place: William & Mary Women’s Stock Pitch & Summit - NYSE: NPO (March 2018)</a><hr />
                <a style="font-size:15px">3rd Place/Best Presentation: Deloitte National Undergraduate Case Competition (March 2018)</a><hr />
                <a style="font-size:15px">1st Place: Deloitte UT Austin Undergraduate Case Competition (February 2018)</a><hr />
                <a style="font-size:15px">1st Place: Business Honors Sense Corp Case Competition (December 2017)</a><hr />
                <a style="font-size:15px">1st Place: Longhorn Entrepreneurship Agency Startup Simulation (November 2017)</a><hr />
                <a style="font-size:15px">1st Place: USIT Texas Stock Pitch - NYSE: WSM (November 2017)</a><hr />
                <a style="font-size:15px">2nd Place: University of Michigan UIC National Pitch Competition - NASDAQ: HA (October 2017)</a><hr />
                <a style="font-size:15px">1st Place: Sense Corp Hack-A-Case Competition (September 2017)</a><hr />
                <a style="font-size:15px">2nd Place: USIT Texas Charity Pitch - Seedling Foundation (March 2017)</a><hr />
                <a style="font-size:15px">2nd Place: USIT Analyst Group Stock Pitch Competition - NASDAQ: MTCH (February 2017)</a><hr />
                <a style="font-size:15px">3rd Place: BHP/CS Interdisciplinary Case Competition (February 2017)</a><hr />
                <a style="font-size:15px">3rd Place: Student Engineering Council Freshmen Case Competition (November 2016)</a><hr />
                <a style="font-size:15px">1st Place: Target McCombs Diversity Council Supply Chain Case Competition (October 2016)</a>
              </div>
        </div>
      </div>
    </div>
  <!-- Additionally, QMI draws support from USIT’s Strategic Capital Group and various professors across campus. Specifically, we are happy to claim the following advisors as official supporters of our research efforts:
  <div id="professors">

  </div> -->

  <h3 style="padding-bottom:2%;padding-top:3%">how to join</h3>
  QMI members are chosen through a competitive application and interview process each year. Applicants of all majors and all grades are welcome to join at the Intelligence Analyst level during the fall semester. The selection process will begin with an application and resume submission. Select applicants will be invited to participate in a short secondary submission and dinner. Finally, applicants who move on to the final stage will be invited to interview with the Executive Directors, Directors of Technology, and Director of Finance. Candidates are not expected to have prior financial knowledge or technical skills but should demonstrate intellectual curiosity, a strong work ethic, and a commitment to education.
  <br />
  <br />
During the spring semester, Executive Directors, Directors of Technology, and Directors of Finance will be selected through a voting process. After elections, Directors will lead a rigorous application and interview process to select Intelligence Leads for the following year. While prior  knowledge is not necessary to join QMI at the Intelligence Analyst level, candidates for all Director and Intelligence Lead positions must have demonstrated financial and technical skills through the Intelligence Analyst program, internships, competitions, or other extensive extracurricular experience.
  <br />
  <div class="row" style="text-align:center;padding:5%">
    <div class="col-sm">
      <a href="https://www.texasusit.org/membership" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:2%;padding-left:30px;padding-right:30px;width:60%">
        <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">PAY USIT DUES</span>
      </a>
    </div>
    <div class="col-sm">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSczowpNqmFhJo_bzHmh6AG5RPPFpxz6Ro9IFUQA3M75QSEZ4w/viewform?usp=sf_link" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:2%;width:60%">
        <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">MEMBER APPLICATION</span>
      </a>
    </div>
  </div>
While participation in SCG and QMI are not mutually exclusive, we highly discourage freshmen from committing to both the Junior Analyst and Intelligence Analyst positions given the stringent time requirements of both roles. However, applicants should feel free to apply to both programs. In fact, we encourage all members interested in engaging with USIT in a more involved manner to apply for membership into both groups.
  <br />
  <br />

  <h4 style="padding-bottom:15px">2019-2020 Recruitment Process</h4>
  Applications to become a QMI Intelligence Analyst are currently open. To gather more data regarding the organization and whether you would be a good fit, please attend both a general USIT info session as well as a QMI info session.
  Additionally, officers of QMI will be hosting coffee chats before applications close on September 14 in Caffe Medici. Attendance is highly encouraged for highly motivated applicants.
  <div class="col-sm" style="text-align:center;padding:15px;padding-top:45px;padding-bottom:0;">
    <a href="/events" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:1%;padding-left:30px;padding-right:30px;width:30%">
      <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">RECRUITING EVENTS</span>
    </a>
  </div>
  </div>

</div>

<div id="phonecontent" style="padding-bottom:5%;padding-top:50px;display:none;">
  <div class="container" style="padding:5%;">
    <div class="row">
      <div class="col" style="text-align:center">
        <h1 style="text-align:left; font-family: 'aliens_and_cowsregular'">About Us</h1>
      </div>
    </div>
  <h3 style="padding-bottom:2%;padding-top:5%">who we are</h3>
  <p>
    Founded in 2019 by Catherine Cheng and Eric Sun, Quantitative Market Intelligence (QMI)
    is a division of <a href="https://www.texasusit.org/" class="link">The USIT Foundation</a>
    that focuses on leveraging relevant data in making strategic investment decisions.
    QMI was created to open applied data science education to all students who
    wish to learn how to create, analyze, visualize, and utilize financially
    relevant datasets. By giving students the opportunity to advance highly-sought
    after technical skills, create proprietary datasets, and develop quantitative
    trading strategies, QMI empowers its members to become quantitatively intelligent investors and business leaders.
    <br />
    <br />
    QMI consists of Intelligence Analysts, Intelligence Leads, Directors of Technology and Finance, and Executive Director(s). All members of QMI are taught critical data science and financial analysis skills through weekly workshop-style lectures and a project-based curriculum by QMI Directors. Using acquired skills, members work on and complete advanced data collection, processing, and visualization tasks that culminate in the presentation of investible insights and position recommendations. Additionally, members partake in the research of multi-stock algorithmic trading strategies to identify systematic methods of alpha generation. Select Intelligence Analysts and other qualified members of USIT can progress to the Intelligence Lead position where they mentor and teach new QMI members in various project and workshop settings. Similarly, dedicated Intelligence Leads can become Directors in the organization and develop teams centered around their particular area of expertise.
  </p>

  <h3 style="padding-bottom:2%;padding-top:5%">our credentials</h3>
  <p>
    Despite its incredibly recent initiation, QMI has already won the support of a diverse and talented leadership team. Our organization is led by members with experience across industries and disciplines. Below is just a selection of the places our leaders have interned or worked:
    <div id="icons" style="text-align:center">
      <img src="{{ url_for('static', filename='about/collage.png') }}" style="width:100%"/>
    </div>
    <br />
  Besides landing prestigious offers, our members have experienced unparalleled success at various case competitions and stock pitches. On top of winning the 2019 Southeastern Hedge Fund Competition, our members have won and placed at the following national and local competitions:
    <div id="competitions">
      <div style="text-align:center;padding:5%">
        <div>
          <img src="{{ url_for('static', filename='about/sehedge.jpg') }}" style="width:100%;padding-bottom:15px"/>
          <a style="font-size:15px;">Southeastern Hedge Fund Competition</a>
        </div>
        <div style="padding-top:30px">
              <a style="font-family:'Abel', sans-serif;letter-spacing:.1em;color:black; font-weight:800;font-size:20px">
                OTHER COMPETITIONS
              </a>
              <br />
              <br />
              <div class="inner" id="mobilescrolling" style="text-align:left">
                <a style="font-size:15px">1st Place: International Southeastern Hedge Fund Competition (April 2019)</a><hr />
                <a style="font-size:15px">1st Place: Protiviti Case Competition (March 2019)</a><hr />
                <a style="font-size:15px">3rd Place: Berkeley Stock Pitch Competition - NASDAQ: CROX (March 2019)</a><hr />
                <a style="font-size:15px">2nd Place: UT-Austin Women's Case Competition (February 2019)</a><hr />
                <a style="font-size:15px">1st Place: Target McCombs Diversity Council Supply Chain Case Competition (November 2018)</a><hr />
                <a style="font-size:15px">2nd place: JPMC Code for Good Hackathon (October 2018)</a><hr />
                <a style="font-size:15px">1st Place: Inaugural Stanford Stock Pitch Competition - NASDAQ: COHR (May 2018)</a><hr />
                <a style="font-size:15px">1st Place: USC Value Investing Group Stock Pitch Competition (April 2018)</a><hr />
                <a style="font-size:15px">2nd Place: William & Mary Women’s Stock Pitch & Summit - NYSE: NPO (March 2018)</a><hr />
                <a style="font-size:15px">3rd Place/Best Presentation: Deloitte National Undergraduate Case Competition (March 2018)</a><hr />
                <a style="font-size:15px">1st Place: Deloitte UT Austin Undergraduate Case Competition (February 2018)</a><hr />
                <a style="font-size:15px">1st Place: Business Honors Sense Corp Case Competition (December 2017)</a><hr />
                <a style="font-size:15px">1st Place: Longhorn Entrepreneurship Agency Startup Simulation (November 2017)</a><hr />
                <a style="font-size:15px">1st Place: USIT Texas Stock Pitch - NYSE: WSM (November 2017)</a><hr />
                <a style="font-size:15px">2nd Place: University of Michigan UIC National Pitch Competition - NASDAQ: HA (October 2017)</a><hr />
                <a style="font-size:15px">1st Place: Sense Corp Hack-A-Case Competition (September 2017)</a><hr />
                <a style="font-size:15px">2nd Place: USIT Texas Charity Pitch - Seedling Foundation (March 2017)</a><hr />
                <a style="font-size:15px">2nd Place: USIT Analyst Group Stock Pitch Competition - NASDAQ: MTCH (February 2017)</a><hr />
                <a style="font-size:15px">3rd Place: BHP/CS Interdisciplinary Case Competition (February 2017)</a><hr />
                <a style="font-size:15px">3rd Place: Student Engineering Council Freshmen Case Competition (November 2016)</a><hr />
                <a style="font-size:15px">1st Place: Target McCombs Diversity Council Supply Chain Case Competition (October 2016)</a>
              </div>
        </div>
      </div>
    </div>
  <!-- Additionally, QMI draws support from USIT’s Strategic Capital Group and various professors across campus. Specifically, we are happy to claim the following advisors as official supporters of our research efforts:
  <div id="professors">

  </div> -->

  <h3 style="padding-bottom:2%;padding-top:3%">how to join</h3>
  QMI members are chosen through a competitive application and interview process each year. Applicants of all majors and all grades are welcome to join at the Intelligence Analyst level during the fall semester. The selection process will begin with an application and resume submission. Select applicants will be invited to participate in a short secondary submission and dinner. Finally, applicants who move on to the final stage will be invited to interview with the Executive Directors, Directors of Technology, and Director of Finance. Candidates are not expected to have prior financial knowledge or technical skills but should demonstrate intellectual curiosity, a strong work ethic, and a commitment to education.
  <br />
  <br />
During the spring semester, Executive Directors, Directors of Technology, and Directors of Finance will be selected through a voting process. After elections, Directors will lead a rigorous application and interview process to select Intelligence Leads for the following year. While prior  knowledge is not necessary to join QMI at the Intelligence Analyst level, candidates for all Director and Intelligence Lead positions must have demonstrated financial and technical skills through the Intelligence Analyst program, internships, competitions, or other extensive extracurricular experience.
  <br />
    <div style="text-align:center;padding:15px">
      <a href="https://www.texasusit.org/membership" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:1%;padding-left:30px;padding-right:30px;width:60%">
        <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">PAY USIT DUES</span>
      </a>
    </div>
    <div style="text-align:center;padding:15px">
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSczowpNqmFhJo_bzHmh6AG5RPPFpxz6Ro9IFUQA3M75QSEZ4w/viewform?usp=sf_link" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:1%;width:60%">
        <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">MEMBER APPLICATION</span>
      </a>
    </div>
While participation in SCG and QMI are not mutually exclusive, we highly discourage freshmen from committing to both the Junior Analyst and Intelligence Analyst positions given the stringent time requirements of both roles. However, applicants should feel free to apply to both programs. In fact, we encourage all members interested in engaging with USIT in a more involved manner to apply for membership into both groups.
  <br />
  <br />

  <h4 style="padding-bottom:15px">2019-2020 Recruitment Process</h4>
  Applications to become a QMI Intelligence Analyst are currently open. To gather more data regarding the organization and whether you would be a good fit, please attend both a general USIT info session as well as a QMI info session.
  Additionally, officers of QMI will be hosting coffee chats before applications close on September 14 in Caffe Medici. Attendance is highly encouraged for highly motivated applicants.
  <div style="text-align:center;padding:15px">
    <a href="/events" class="btn" style="color:black;background-color:transparent;border: 1px solid black; padding:1%;width:60%">
      <span style="font-family:'Abel', sans-serif;letter-spacing:.1em;font-weight:500;font-size:100%;font-decoration:none;color:black">RECRUITING EVENTS</span>
    </a>
  </div>

  </div>
</div>


<style>
    .link{
      color:black !important;
      text-decoration:none;
    }
    .link:hover{
      color:#1D5787 !important;
      text-decoration:none;
    }
  @media only screen and (max-width:1026px) {
    #content{
      display:none !important;
    }
    #phonecontent {
      display:block !important;
    }
  }
  #scrolling {
    height: 350px;
    overflow: hidden;
    padding: 5px 20px;
  }
  #mobilescrolling {
    height: 350px;
    overflow: hidden;
    padding: 5px 20px;
  }

  #competitions{
    padding-top:15px;
  }
  .link{
    color:black !important;
    text-decoration:none;
  }
  .link:hover{
    color:#1D5787 !important;
    text-decoration:none;
  }
</style>


<script>
  var i = 0;

  $(document).ready(function(){
    var interval = setInterval(function () {
      i += 2; // speed
      $('#scrolling').animate({ scrollTop: i }, 1);
      if (i >= $('#scrolling').prop('scrollHeight') - $('#scrolling').height()) {
        i = 0;
      }
    }, 100);
  });

  var j = 0;

  $(document).ready(function(){
    var interval = setInterval(function () {
      j += 2; // speed
      $('#mobilescrolling').animate({ scrollTop: j }, 1);
      if (j >= $('#mobilescrolling').prop('scrollHeight') - $('#scrolling').height()) {
        j = 0;
      }
    }, 100);
  });
</script>
{% endblock %}
