<!DOCTYPE html>
<html lang="en">
<head>
	<!--favicon-->

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- jQUuery imports -->
	<meta charset="utf-8">

	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

	<title>Senior Design Demo</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<!-- Load Ajax-->
	<script src="https://kit.fontawesome.com/ed884af876.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Abel|Barlow&amp;display=swap" rel="stylesheet">

	<!-- Custom styles CSS -->
	<link href="{{ url_for('static', filename='css/indexstyle.css') }}" rel="stylesheet">
	<!-- google text fonts -->

</head>
	<body>
		<div style="padding:50px">
			<!-- table goes here-->

			<h1>Dell Senior Design Project Front-end Risk Reduction</h1>
			
			<table style="width:100%">
			<thead>
				<tr>
					<td>id</td>
					<td>Name</td>
					<td>Status</td>
					<td>Description</td>
					<td>Last Updated</td>
				</tr>
			</thead>

			<tbody>

				{% for component in components %}
				<tr>
					<td> {{component.id }} </td>
					<td> {{ component.name }} </td>
					<td id="{{'status'+component.id|string()}}"> {{ component.status }} </td>
					<td id="{{'description'+component.id|string()}}"> 
						<form action="{{'/edit/description/'+component.id|string()}}" method="post" target="_blank">
							<input type="text" name="newDescription" value="{{component.description}}">
							<input type="submit" value="Save">
					  	</form>
					</td>
					<td id="{{'updated'+component.id|string()}}"> {{ component.last_update }} </td>
				</tr>
				{% endfor %}

			</tbody>


			</table>

		</div>
		<script>
				$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
				(function(){
							  $.getJSON(
									  $SCRIPT_ROOT+"/component/1", // Your AJAX route here
									  function(data,i) {
											  var today = new Date()
											  $("#status1").text(data.status);
											  $("#updated1").text(
												  today.getMonth()+"/"+today.getDate()+"/"+today.getFullYear()+"	"+
												  today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() +"."+today.getMilliseconds());
									  }
							  );
						  // run every 10 seconds
					setTimeout(arguments.callee, 10000);
				})();
				  </script>
			  
				  <script>
				  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
				  (function(){
							  $.getJSON(
									  $SCRIPT_ROOT+"/component/2", // Your AJAX route here
									  function(data,i) {
											  var today = new Date()
											  $("#status2").text(data.status);
											  $("#updated2").text(
												  today.getMonth()+"/"+today.getDate()+"/"+today.getFullYear()+"	"+
												  today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() +"."+today.getMilliseconds());
									  }
							  );
						  // run every 10 seconds
						  setTimeout(arguments.callee, 10000);
				  })();
				  </script>
			  
				  <script>
				  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
				  (function(){
							  $.getJSON(
									  $SCRIPT_ROOT+"/component/3", // Your AJAX route here
									  function(data,i) {
											  var today = new Date()
											  $("#status3").text(data.status);
											  $("#updated3").text(
												  today.getMonth()+"/"+today.getDate()+"/"+today.getFullYear()+"	"+
												  today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() +"."+today.getMilliseconds());
									  }
							  );
						  // run every 10 seconds
						  setTimeout(arguments.callee, 10000);
				  })();
				  </script>
	<!-- <script>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	(function(){
				$.getJSON(
						$SCRIPT_ROOT+"/components", // Your AJAX route here
						function(data) {
								for(var i in data){
									alert(i.id)
									var today = new Date()
									$("#status"+i.id).text(i.status);
									$("#updated"+i.id).text(
										today.getMonth()+"/"+today.getDate()+"/"+today.getFullYear()+"	"+
										today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() +"."+today.getMilliseconds());
								}
						}
				);
			// run every 10 seconds
			setTimeout(arguments.callee, 10000);
	})();
	</script> -->

	<style>
	.table {
			border-collapse:collapse;
			width: 100%;
			}
	.td {
			padding: 7px;
			border:1px solid;
	}
	</style>


	</body>




</html>
